#about-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
//    display: none;
}

.about-full-content {
    background: white;
    position: relative;
    //top: 6000px;
    min-height: 100%;
    top: 0;
    opacity: 0;
    transition: setTransition(all, linear, .5s, .1s);
    @include transform(translate(0, 100%));
    z-index: 1;
}

body[data-page="about"] {
    
    #about-container {
        overflow: auto;
    }
    
    .about-full-content {
        //top: 0;
        opacity: 1;
        @include transform(translate(0, 0));
    }
    
//    #about-container {
//        display: block;
//    }
}

body[data-page="about"] {
    #about-container {
        z-index: 7;
    }
}

#about-container .decorator {
    min-height: 160px;
    background: #59636c;
    width: 100%;
    height: auto;
    position: relative;
    //top: -600px;
    top: 0;
    
    transition: setTransition(transform, linear, .5s);
    
    @include transform(translate(0, -100%));
    z-index: 2;
}

body[data-page="about"] #about-container .decorator {
    //top: 0;
    @include transform(translate(0, 0));
}

#about-container .decorator a {
    color: white;
}

#about-container .col-1 {
    margin-top: 0px;
    text-align: center;
    position: relative;
    //left: -2000px;
    left: 0;
    transition: setTransition(transform, linear, .5s);
    @include transform(translate(-2000px, 0));
}

body[data-page="about"] #about-container .col-1 {
    //left: 0;
    @include transform(translate(0, 0));
}

#about-container .decorator .col-2 {
    float: right;
    position: relative;
    height: 100%;
    min-height: 160px;
    color: white;
    font-weight: normal;
    padding: 1rem;
    line-height: 1.6rem;
    font-size: .9rem;
}

#about-container .about-content {
    margin-top: -120px;
}

.author-name {
    color: white;
    font-style: italic;
}

.picture-square {
    padding: 10px;
    background: white;
    border: solid 1px #999;
    box-shadow: 0 0 4px #999;
    text-align: center;
    width: 220px;
    margin: 15px auto;
    clear: both;
    display: block;
    font-size: .8rem;
    position: relative;
    z-index: 2;
}

.picture-content {
    @include transform(rotate(-5deg));
}

.picture-square:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border: solid 1px #999;
    box-shadow: 0 0 4px #999;
    @include transform(rotate(-5deg));
    z-index: -1;
}

.picture-square img {
    width: 100%;
}

.about-content ol {
    list-style: none;
    clear: both;
/*    padding: .5rem 1rem;*/
    text-align: left;
}

.about-content ol a {
    color: #444;
    text-decoration: none;
    line-height: 1.6rem;
}

.about-full-content .col-2 {
    float: right;
    padding: 1rem;
    padding-bottom: 100px;
    position: relative;
}

#about-container h2 {
    margin-bottom: 1rem;
}

.contacts-label {
    font-weight: bold;
    color: #999;
    border-bottom: solid 2px #999;
    text-align: left;
    font-size: 1.5rem;
    visibility: hidden;
}

@media ($mq_small){
    .picture-square {
        width: 120px;
    }
    
    #about-container .about-content {
        position: absolute;
        top: 0;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
    #about-container {
        .wrapper {
            width: 100%;
        }
        
        .decorator {
            padding-top: 180px;
        }
    }
    
    #about-container .col-2 {
        width: 100%;
    }
    
    .about-content .col-1 {
        width: 100%;
    }
    
    .picture-square {
        float: left;
        margin: 1rem;
    }
    
    .about-content ol {
        clear: none;
        color: white;
        margin: 0;
        
        a {
            color: white;
        }
    }
}

@media ($mq_medium){
    .picture-square {
        width: 180px;
    }
    .contacts-label {
        visibility: visible;
    }
}

@media ($mq_small) {
    #about-container {
        .decorator {
            .col-2 {
                margin-top: -145px;
                padding-left: 240px;
            }
        }
    }
}

@media ($mq_xsmall) {
    #about-container {
        .decorator {
            .col-2 {
                margin-top: 1rem;
                padding-left: 1rem;
            }
        }
    }
    
    .about-content {
        ol {
            margin: auto;
            width: 100px;
            padding-left: 80px;
        }
    }
}


