
@function setTransition ($prop:all, $easing:linear, $duration:.3s, $delay:0) {
    $str : $prop + " " + $easing + " " + $duration;
    @if $delay > 0 {
        $str : $str +  ' ' + $delay;
    }
    
    @if $prop == "transform" {
        $prop : "-webkit-" + $prop;
        $str : $str + "; " + "-webkit-transition: " + $prop + " " + $easing + " " + $duration;
    }
    $str : $str + "; -webkit-backface-visibility: hidden";
    
    @return $str;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}