body[data-page="utils"] {
    overflow: hidden;
    
    #utils-container {
        z-index: 7;
        opacity: 1;
        
        .decorator {
            //left: 0;
            //top: 0;
            transform: translate(0);
        }
    }
    
}

[data-page="utils"] {
    
    &[hash-bang-detail] {
        #utils-container {
            overflow: auto;
        }
    }
}

[hash-bang-detail="talks"] #utils-container .talks section,
[hash-bang-detail="videos"] #utils-container .videos section,
[hash-bang-detail="tools"] #utils-container .tools section,
[hash-bang-detail="articles"] #utils-container .articles section,
[hash-bang-detail="albums"] #utils-container .albums section {
    opacity: 1;
    //margin-left: 0;
    -webkit-transform: translate(0); 
    -moz-transform: translate(0); 
    -ms-transform: translate(0); 
    transform: translate(0); 
}

#utils-container {
    background-color: rgba(240, 207, 180, 0.4);//rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    //overflow: auto;
    opacity: 0;
    transition: all linear .2s;
    
    .decorator {
        position: fixed;
        //left: -44px;
        left: 0;
        top: 0;
        background-color: #427FED;
        padding-top: 30px;
        text-align: center;
        border: solid 1px black;
        border-width: 0 1px 0 0;
        
        transform: translate(-44px, 0);
        
        -webkit-transition: -webkit-transform linear .2s;
        -moz-transition: -moz-transform linear .2s;
        -ms-transition: -ms-transform linear .2s;
        transition: transform linear .2s;
        
        width: 44px;
        height: 100%;
        
        .icon {
            text-indent: -99999px;
            position: relative;
            width: 32px;
            height: 32px;
            cursor: pointer;
            display: inline-block;
            //border: solid 2px white;
            border-radius: 50%;
            outline: none;
            margin: 5px;
            box-shadow: 0 0 0px 2px #fff;
            background-image: url(../images/icons.png);
            transition: box-shadow linear .2s;
            
            &.talks {
                background-position: -96px 2px;
            }
            &.videos {
                background-position: 0 2px;
            }
            &.tools {
                background-position: -256px 2px;
            }
            &.articles {
                background-position: -32px 2px;
            }
            &.albums {
                background-position: -65px 2px;
            }
            
            &:hover {
                background-position-y: -30px;
                box-shadow: 0 0 0px 4px #fff;
                
                .tooltip {
                    position: absolute;
                    left: 54px;
                    opacity: 1;
                }
            }
            
            .tooltip {
                position: relative;
                color: #000;
                left: 45px;
                top: 0;
                text-indent: 0;
                background-color: #ffff9c;
                border: solid 1px #000;
                border-left: none;
                white-space: nowrap;
                padding: 7px;
                height: 30px;
                font-size: .8rem;
                opacity: 0;
                transition: all linear .2s .3s;
                
                &:before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: -11px;
                    width: 21px;
                    height: 21px;
                    background-color: #ffff9c;
                    border: solid 1px #000;
                    border-right: none;
                    border-bottom: none;
                    z-index: -1;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
    
    .utils-content {
        padding: 0 0 0 44px;
        //border-bottom: solid 80px white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
        section {
            opacity: 0;
            //margin-left: -100px;
            -webkit-transform: translate(-100%, 0);
            -moz-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
            
            background: #fff;
            //border-top: solid 1px black;
            transition: all linear .2s;
            
            &:nth-child(n+1){
                transition-delay: .05s;
            }
            &:nth-child(n+2){
                transition-delay: .2s;
            }
            &:nth-child(n+3){
                transition-delay: .1s;
            }
            &:nth-child(n+4){
                transition-delay: .15s;
            }
            &:last-child{
                padding-bottom: 140px;
            }
        }
        
    }
}

@media ($mq_small) {
    
    #utils-container {
        .decorator{
            height: 44px;
            width: 100%;
            left: 0;
            //top: -44px;
            top: 0;
            border-width: 0 0 1px 0;
            padding-top: 0;
            
            transform: translate(0, -44px);
            
            .icon {
                &:hover {
                    .tooltip {
                        top: 50px;
                    }
                }
                .tooltip {
                    top: 40px;
                    left: -90px !important;
                    width: 200px;
                    white-space: normal;
                    height: auto;
                    border-left: solid 1px #000;
                    
                    &:before {
                        top: -7px;
                        left: 50%;
                        width: 12px;
                        height: 12px;
                        margin-left: -3px;
                        z-index: 1;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(45deg);
                    }
                }
            }
        }
        
        .utils-content {
            padding: 40px 0 0 0;
        }
        
    }
}



