body[data-page="utils"] {
    overflow: hidden;
    
    #utils-container {
        z-index: 7;
        opacity: 1;
        
        .decorator {
            //left: 0;
            //top: 0;
            transform: translate(0);
        }
    }
    
}

[data-page="utils"] {
    
//    &[hash-bang-detail] {
//        #utils-container {
//            overflow: auto;
//        }
//    }
}

#utils-container {
    background-color: rgba(240, 207, 180, 0.4);//rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    //overflow: auto;
    opacity: 0;
    transition: all linear .2s;
    
    .decorator {
        position: fixed;
        //left: -44px;
        left: 0;
        top: 0;
        z-index: 6;
        background-color: #427FED;
        padding-top: 30px;
        text-align: center;
        border: solid 1px black;
        border-width: 0 1px 0 0;
        
        transform: translate(-44px, 0);
        
        -webkit-transition: -webkit-transform linear .2s;
        -moz-transition: -moz-transform linear .2s;
        -ms-transition: -ms-transform linear .2s;
        transition: transform linear .2s;
        
        width: 44px;
        height: 100%;
        
        .icon {
            
            @include animation(jumpForAttentionV 4s infinite linear);
            
            &:nth-child(1){
                -webkit-animation-delay: 3.2s;
            }
            &:nth-child(2){
                -webkit-animation-delay: 3.1s;
            }
            &:nth-child(3){
                -webkit-animation-delay: 3s;
            }
            &:nth-child(4){
                -webkit-animation-delay: 3.1s;
            }
            &:nth-child(5){
                -webkit-animation-delay: 3.2s;
            }
            
            text-indent: -99999px;
            background-color: #427FED;
            position: relative;
            width: 32px;
            height: 32px;
            cursor: pointer;
            display: inline-block;
            //border: solid 2px white;
            border-radius: 50%;
            outline: none;
            margin: 5px;
            box-shadow: 0 0 0px 2px #fff;
            background-image: url(/images/icons.png);
            transition: box-shadow linear .2s;
            
            &.talks {
                background-position: -96px 2px;
            }
            &.videos {
                background-position: 0 2px;
            }
            &.labs {
                background-position: -256px 2px;
            }
            &.articles {
                background-position: -32px 2px;
            }
            &.photos {
                background-position: -65px 2px;
            }
            
            &:hover {
                background-position-y: -30px;
                box-shadow: 0 0 0px 4px #fff;
                
                .tooltip {
                    position: absolute;
                    left: 54px;
                    opacity: 1;
                }
            }
            
            .tooltip {
                position: relative;
                color: #000;
                left: 45px;
                top: 0;
                text-indent: 0;
                background-color: #ffff9c;
                border: solid 1px #000;
                border-left: none;
                white-space: nowrap;
                padding: 7px;
                height: 30px;
                font-size: .8rem;
                opacity: 0;
                transition: all linear .2s .3s;
                
                &:before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: -11px;
                    width: 21px;
                    height: 21px;
                    background-color: #ffff9c;
                    border: solid 1px #000;
                    border-right: none;
                    border-bottom: none;
                    z-index: -1;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }
    
    .utils-content {
        padding: 0 0 0 44px;
        //border-bottom: solid 80px white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        
        section {
            opacity: 0;
            //margin-left: -100px;
            -webkit-transform: translate(-100%, 0);
            -moz-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
            
            background: #fff;
            //border-top: solid 1px black;
            transition: all linear .2s;
            
            &:nth-child(1n+0){
                transition-delay: .05s;
            }
            &:nth-child(2n+0){
                transition-delay: .2s;
            }
            &:nth-child(3n+0){
                transition-delay: .1s;
            }
            &:nth-child(4n+0){
                transition-delay: .15s;
            }
            &:last-child{
                //padding-bottom: 140px;
                margin-bottom: 140px;
            }
        }
        
    }
}



.utils-item {
    position: relative;
    cursor: default;
    min-height: 180px;
    //overflow: hidden;
    
//    padding: 1rem;
//    width: 100%;
//    display: inline-block;
//    cursor: default;
    
    h3 {
        font-size: 1.4rem;
        font-weight: bold;
        margin: 1rem 0 0;
        display: block;
        margin-left: .5rem;
        //color: #fff; //#427FED;
    }
    
    .utils-thumb {
        position: absolute;
        float: left;
        z-index: 1;
        background-color: #f0f0f0;
        height: 100%;
        max-width: 320px;
        width: 30%;
        overflow: hidden;
//        position: relative;
//        width: 320px;
//        cursor: pointer;
//        float: left;
//        margin: 1rem 1rem 0 0;
//        width: 100%;
//        text-align: center;
//        max-width: 320px;
        
        img {
            width: 320px;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -160px;
            min-height: 100%;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
//            max-width: 100%;
//            min-height: 140px;
//            background-color: #f0f0f0;
        }

        &.youtube {
            cursor: pointer;
        }
        
        &.youtube:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            cursor: pointer;
            right: 0;
            margin: auto;
            z-index: 9;
            background-image: url(/images/youtube-buttons-sprite.png);
            width: 40px;
            height: 30px;
        }
        &.youtube:hover:after {
            background-position: 0 -30px;
        }
    }
    
    .utils-description {
        //float: left;
        padding-left: .5rem;
        float: right;
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
//        padding-top: 2rem;
//        display: block;
//        clear: both;
//        max-width: 800px;
//        white-space: pre-line;
        
        .desc {
            margin: .5rem;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
    .utils-link {
//        margin-top: 2rem;
//        display: block;
    }
    
    &:hover {
        background-color: #efefef !important;
    }
}


@media ($mq_medium) {
    .utils-description {
        //clear: none !important;
    }
    
    .utils-item {
        .utils-thumb {
            //width: auto;
        }
    }
}

[hash-bang-detail="talks"],
[hash-bang-detail="videos"],
[hash-bang-detail="labs"],
[hash-bang-detail="articles"],
[hash-bang-detail="photos"] {
    #utils-container .decorator .icon{
        @include animation(none);
    }
}

#utils-container .decorator:hover .icon{
    @include animation(none);
}

body:not([data-page="utils"]) {
    #utils-container .decorator .icon{
        @include animation(none);
    }
}


[hash-bang-detail="talks"] .utils-content.talks,
[hash-bang-detail="videos"] .utils-content.videos,
[hash-bang-detail="labs"] .utils-content.labs,
[hash-bang-detail="articles"] .utils-content.articles,
[hash-bang-detail="photos"] .utils-content.photos {
    
    height: 100% !important;
    width: 100%;
    overflow: auto;
    z-index: 5 !important;
    
    section {
        opacity: 1 !important;
        transform: translate(0) !important;
    }
}

@media ($mq_small) {
    
    #utils-container {
        .decorator{
            height: 44px;
            width: 100%;
            left: 0;
            //top: -44px;
            top: 0;
            border-width: 0 0 1px 0;
            padding-top: 0;
            
            transform: translate(0, -44px);
            
            .icon {
                
                @include animation(jumpForAttentionH 4s infinite linear);
                
                &:hover {
                    .tooltip {
                        top: 50px;
                    }
                }
                
                .tooltip {
                    top: 40px;
                    left: -90px !important;
                    width: 200px;
                    overflow: hidden;
                    white-space: normal;
                    height: auto;
                    border-left: solid 1px #000;
                    
                    &:before {
                        top: -7px;
                        left: 50%;
                        width: 12px;
                        height: 12px;
                        margin-left: -3px;
                        z-index: 1;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(45deg);
                    }
                }
            }
        }
        
        .utils-content {
            padding: 40px 0 0 0;
        }
        
        .utils-thumb {
            width: 60px;
        }
        
        .utils-description {
            width: auto;
            margin-left: 50px;
        }
        
    }
}

@include keyframes(jumpForAttentionV) {
    0%   {
        @include transform(translateX(0px));
    }
    6%   {
        @include transform(translateX(20px));
    }
    12%   {
        @include transform(translateX(0px));
    }
    16%   {
        @include transform(translateX(5px));
    }
    20% {
        @include transform(translateX(0px));
    }
}
@include keyframes(jumpForAttentionH) {
    0%   {
        @include transform(translateY(0px));
    }
    6%   {
        @include transform(translateY(20px));
    }
    12%   {
        @include transform(translateY(0px));
    }
    16%   {
        @include transform(translateY(5px));
    }
    20% {
        @include transform(translateY(0px));
    }
}







