@import "normalize.min.scss";
@import "variables";
@import "mixins";
@import "defaults";
@import "home";
@import "about";
@import "utils";
@import "articles";
@import "layers";

html, body {
    height: 100% !important;
}
body{
    min-height: 100% !important;
}

.youtube-thumb {
    position: relative;
    width: 320px;
    //height: 180px;
    cursor: pointer;
    
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 9;
        background-image: url(../images/youtube-buttons-sprite.png);
        width: 40px;
        height: 30px;
    }
    &:hover:after {
        background-position: 0 -30px;
    }
}

.video-item {
    padding: 1rem;
    width: 100%;
    display: inline-block;
    cursor: default;
    
    h3 {
        font-size: 1.3rem;
        font-weight: bold;
        color: #427FED;
    }
    
    .youtube-thumb {
        float: left;
        margin: 1rem 1rem 0 0;
        width: 100%;
        text-align: center;
        max-width: 320px;
        
        img {
            max-width: 100%;
            min-height: 140px;
            background-color: #f0f0f0;
        }
    }
    
    .video-description {
        padding-top: 2rem;
        display: block;
        clear: both;
        max-width: 800px;
        white-space: pre-line;
    }
    
    .video-link {
        margin-top: 2rem;
        display: block;
    }
    
    &:hover {
        background-color: #efefef !important;
    }
}

@media ($mq_medium) {
    .video-description {
        clear: none !important;
    }
    
    .video-item {
        .youtube-thumb {
            width: auto;
        }
    }
}



