<div id="articleTmpElement"></div>
<section id="articles-container" class="sect-content" lang="{{ articleLang }}">
    <nav id="articles-nav" class="articles-nav">
        <div id="loading-bar"></div>
        <ul>
            <li class="btn center">
                <span class="art-nav-tbn art-see-list" title="See all Posts">
                    See all&nbsp; |<!--small>▼</small-->
                </span>
                <span class="art-nav-tbn art-tools" title="Article Tools">
                    &nbsp;&#9881; <!--small>▼</small-->
                </span>
            </li>
            <li class="btn left">
                {% if previous %}
                <a href="/articles/{{ previous.name }}"
                   class="local art-nav-tbn"
                {% else %}
                <a class="local art-nav-tbn inactive"
                {% endif %}
                   title="previous: {{ previous.title | striptags }}">&lt;&lt; Prev</a>
            </li>
            <li class="btn right">
                {% if next %}
                <a href="/articles/{{ next.name }}"
                   class="local art-nav-tbn"
                {% else %}
                <a href=""
                   class="local art-nav-tbn inactive"
                {% endif %}
                   title="Next: {{ next.title }}">Next &gt;&gt;</a>
            </li>
        </ul>
        
        <div class="article-tools">
            <span id="article-tool-bigger" class="art-nav-tbn">A</span>
            <span id="article-tool-smaller" class="art-nav-tbn">A</span>
            <span id="article-tool-contrast" class="art-nav-tbn"></span>
        </div>
    </nav>
    
    <div id="the-article" class="the-article" data-text-size="2">
        <div class="decorator
                    colour-{{ colourId }}
                    {% if not resume and not headerImg %}
                    resumeless
                    {% endif %}">
            <h2><a href="{{ url }}">{{ title }}</a></h2>
            <div class="wrapper">
                {% if headerImg %}
                    <img src="{{ headerImg }}" alt="{{ title }}" title="" />
                {% endif %}
            </div>
            <span id="article-meta-data">
                {{ creationDate }} : {{ tags }}
            </span>
            {% if resume %}
            <abs>
                {{ resume }}
            </abs>
            {% endif %}
        </div>

        <div class="wrapper articles-content">
            
            <article>{{ content }}</article>
            
            <aside>
                <div id="disqus_thread"></div>
            </aside>
        </div>
    </div>
</section>