<!DOCTYPE html>
<html lang="en-US">
    <head>
        
        <!-- Meta -->
        <meta charset="UTF-8">
        <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/styles/main.min.css" />
        <link rel="stylesheet" type="text/css" href="/sh/prism.min.css" />
        
        <!-- Info -->
        <title>{{ pageTitle }}</title>
        <link rel="shortcut icon" type="image/png" href="/felipenmoura-felipe-nascimento-moura-favico.png"/>
        <meta name="description" content="Home page of Felipe Nascimento de Moura. Find information about me, my projects, demos, labs, talks and articles.">
        <meta name="keywords" content="javascript, ecma, es6, ecmascript, css, html, html5, css3, talks, braziljs, rsjs, frontintpoa, conferences, slides, technology, web, development" />
        <meta name="author" content="Felipe Nascimento de Moura">
        
        <!-- FACEBOOK -->
        <meta property="og:url" content="{{ fullURL }}"/>
        <meta property="og:site_name" content="FelipeNMoura.com"/>
        <meta property="og:image" content="{{ ogImage }}"/>
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ pageTitle }} | Felipe N Moura"/>
        <meta property="og:description" content="{{ socialDesc | striptags }}">
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:locale:alternate" content="en_US" />

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@felipenmoura">
        <meta name="twitter:title" content="{{ pageTitle }} | Felipe N Moura">
        <meta name="twitter:description" content="{{ socialDesc | striptags }}">
        <meta name="twitter:creator" content="@felipenmoura">
        <meta name="twitter:image:src" content="{{ ogImage }}">
        <meta name="twitter:image" content="{{ ogImage }}">
            
        <!-- GOOGLE -->
        <link rel="author" href="https://plus.google.com/u/0/100273419330331113912/posts"/>
        <link rel="publisher" href="https://plus.google.com/u/0/100273419330331113912/"/>
        <meta itemprop="name" content="{{ pageTitle }} | Felipe N Moura">
        <meta itemprop="description" content="{{ socialDesc | striptags }}">
        <meta itemprop="image" content="/images/og-image-fb.png">
        
        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" title="Felipe N. Moura RSS Feed" href="http://felipenmoura.com/feed.xml">

    </head>
    <body data-page="home">
        
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-1270869-17', 'auto');
            ga('send', 'pageview');
        </script>
        
        <div class="background-video videobg">
            <video id="background-video" class="background-video" autoplay loop poster="/images/relax.jpg" >
                <!--source src="/assets/relax-bg.webm" type="video/webm" /-->
                <source src="/assets/relax-bg.mp4" type="video/mp4" />
            </video>
        </div>
        
        <h1 id="main-header">felipe n. moura</h1>
        
        {% if lang == 'en' %}
            {% include '_templates/nav.html' %}
            {% include '_templates/about.html' %}
            {% include '_templates/utils.html' %}
            {{ currentArticle }}
        {% endif %}
        
        <nav id="articlesList">
            <ol>
            {% for art in articlesList %}
                <li>
                    <a href="/articles/{{ art.name }}/" class="local">{{ art.title | striptags }}</a> <span class="tagsList">[{{ art.tags }}]</span>
                </li>
            {% endfor %}
            </ol>
        </nav>
        
        <div id="decoration" class="glassEffect"></div>
        
        <!-- Scripts -->
        <script src="/sh/prism.js"></script>
        <script src="/scripts/default.min.js"></script>
        
    </body>
</html>