<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:wfw="http://wellformedweb.org/CommentAPI/"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
     xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
     version="2.0">

<channel>
  <title>Felipe N. de moura Home Page</title>
  <link>http://felipenmoura.org/</link>
  <atom:link href="http://felipenmoura.org/rss.xml" rel="self" type="application/rss+xml"/>
  <lastBuildDate>{{ updateDate }}</lastBuildDate>
  <sy:updatePeriod>daily</sy:updatePeriod>
  <sy:updateFrequency>1</sy:updateFrequency>
    
  <description>Meet the Felipe N. Moura personal page with his works, projects, demos, talks and articles.</description>
  {% for item in list%}
  <item>
    <title>{{ item.title | striptags }}</title>
    <link>http://felipenmoura.org/articles/{{ item.name }}/</link>
    {% for tag in item.oTags %}
    <category>
    <![CDATA[ {{ tag }} ]]>
    </category>
    {% endfor %}
    <description><![CDATA[
{{ item.resume }}<br/>
{{ item.oContent }}
]]></description>
  </item>
  {% endfor %}
</channel>

</rss>