<section id="utils-container" class="sect-content">
            
            <div class="utils-content talks">
                {% for talk in talks %}
                <section class="utils-item">
                    <div class="utils-thumb">
                        <a href="{{ talk.link }}" target="_blank">
                            <img src="{{ talk.image }}"
                                 title="Open {{ talk.title }}"
                                 alt="{{ talk.title }}"
                                 width="200" />
                        </a>
                    </div>
                    <div class="utils-description">
                        <h3 data-title="{{ talk.title }}">{{ talk.title }}</h3>
                        <span class="desc">
                            {{ talk.description }}
                        </span>
                    </div>
                </section>
                {% endfor %}
            </div>
    
            <div class="utils-content videos">
                {% for video in videosList %}
                <section class="utils-item">
                    <div class="utils-thumb youtube"
                         data-yt-ref="{{ video.media$group.yt$videoid.$t }}">
                        <img src="{{ video.media$group.media$thumbnail[1].url }}"
                             title="Watch: {{ video.title.$t }}"
                             alt="{{ video.title.$t }}"
                             width="320"
                             height="180" />
                    </div>
                    <div class="utils-description">
                        <h3 data-title="{{ video.title.$t }}">{{ video.title.$t }}</h3>
                        <span class="desc">
                            {{ video.media$group.media$description.$t }}
                        </span>
                    </div>
                    <div class="clear"></div>
                </section>
                {% endfor %}
            </div>
    
            <div class="utils-content labs">
                {% for lab in labs %}
                <section class="utils-item">
                    {% if lab.videoID %}
                    <div class="utils-thumb youtube"
                         data-yt-ref="{{ lab.videoID }}">
                        <img src="{{ lab.image }}"
                             title="Watch {{ lab.title }}"
                             alt="{{ lab.title }}"
                             width="300" />
                    </div>
                    {% else %}
                    <div class="utils-thumb">
                        <img src="{{ lab.image }}"
                             title="Open {{ lab.title }}"
                             alt="{{ lab.title }}" />
                    </div>
                    {% endif %}
                    <div class="utils-description">
                        <h3 data-title="{{ lab.title }}">{{ lab.title }}</h3>
                        <span class="desc">
                            {{ lab.description }}
                            <br/><br/>
                            {% if lab.github %}
                            <a href="{{ lab.github }}" target="_blank">
                                Github
                            </a><br/>
                            {% endif %}
                            {% if lab.link %}
                            <a href="{{ lab.link }}" target="_blank">
                                See it working
                            </a><br/>
                            {% endif %}
                        </span>
                    </div>
                    <div class="clear"></div>
                </section>
                {% endfor %}
            </div>
    
    
            <div class="utils-content photos">
                {% for photo in photos %}
                <section class="utils-item">
                    <a class="utils-thumb"
                       href="{{ photo.fullSize }}"
                       target="_blank">
                        {% if photo.thumb %}
                        <img src="{{ photo.thumb }}"
                        {% else %}
                        <img src="{{ photo.fullSize }}"
                        {% endif %}
                             title="Full Size: {{ photo.title }}"
                             alt="{{ photo.title }}"
                             width="300" />
                    </a>
                    <div class="utils-description">
                        <h3 data-title="{{ photo.title }}">{{ photo.title }}</h3>
                        <span class="desc">
                            {{ photo.description }}
                        </span>
                    </div>
                    <div class="clear"></div>
                </section>
                {% endfor %}
            </div>
            
            <div class="clear"></div>
    
            <div class="decorator">
                <a class="icon local talks" href="/utils/talks">Talks<span class="tooltip">Slides from Talks</span></a>
                <a class="icon local videos" href="/utils/videos">Videos<span class="tooltip">My youtube channels</span></a>
                <a class="icon local labs" href="/utils/labs">Labs<span class="tooltip">Projects/Tools/experiments/demos</span></a>
                <a class="icon local articles local" href="/articles">Articles<span class="tooltip">Articles</span></a>
                <a class="icon local photos" href="/utils/photos">Photos<span class="tooltip">Pictures and Albums</span></a>
            </div>
            
        </section>

<div id="playerLayer">
    <iframe id="playerElement"
            width="560"
            height="315"
            frameborder="0"
            allowfullscreen></iframe>
    <span class="closeLayerBtn">close >></span>
</div>
