/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: .83em;
  margin: 1.67em 0;
}

h6 {
  font-size: .67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  color: #444;
  font-family: 'Quicksand', sans-serif;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* FOR IE9 */
.gradient {
  filter: none;
}

blockquote {
  background: white;
  background: -moz-linear-gradient(left, white 0%, #efe7b3 10%, #efe7b3 90%, white 100%);
  background: -ms-linear-gradient(left, white 0%, #efe7b3 10%, #efe7b3 90%, white 100%);
  background: linear-gradient(to right, white 0%, #efe7b3 10%, #efe7b3 90%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
  padding: 10px 5%;
  text-align: justify;
  line-height: 1.6rem;
}

blockquote cite:before {
  content: "-- by ";
  display: block;
  float: left;
  padding-right: .3rem;
}

blockquote a,
blockquote a:visited {
  color: blue;
  text-decoration: none;
}

.wrapper {
  position: relative;
  z-index: 5;
  display: block;
  margin: auto;
  width: 100%;
  transition: width .3s linear;
}

.clear {
  clear: both;
}

.col-1 {
  width: 33%;
  float: left;
}

.col-2 {
  width: 66%;
  float: left;
}

.sect-content {
  position: relative;
  z-index: -1;
}

[lang="en-US"] .lang-pt {
  display: none;
}

[lang="pt-BR"] .lang-en {
  display: none;
}

.glassEffect {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 130%;
  height: 100%;
  background: url(../images/light-effect.png) no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 570px) {
  .wrapper {
    width: 340px;
  }
}
@media (min-width: 570px) {
  .wrapper {
    width: 550px;
  }
}
@media (min-width: 640px) {
  .wrapper {
    width: 620px;
  }

  .glassEffect {
    display: block;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 900px;
  }
}
body[data-page="home"] {
  overflow: hidden;
}

#background-video {
  display: none;
}

.background-video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../images/relax.jpg) no-repeat;
  background-size: cover;
  background-position: bottom left;
}

#main-header {
  font-weight: 300;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 4rem;
  width: 100%;
  color: #000;
  margin-top: 3rem;
  cursor: default;
}

#main-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
}
#main-nav:before {
  content: "";
  width: 70%;
  height: 0;
  display: block;
  box-shadow: 0 -10px 120px 60px white;
  position: absolute;
  left: 50%;
  margin-left: -35%;
  bottom: 0;
  background: red;
  z-index: -1;
}
#main-nav a {
  color: #444;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: .2rem 0 .6rem 0;
  margin-bottom: .5rem;
  position: relative;
  bottom: 0;
  transition: all 200ms linear;
}
#main-nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
}
#main-nav li {
  display: inline-block;
  width: 7rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}
#main-nav li:before {
  content: "";
  display: block;
  background: #444;
  width: 6rem;
  height: 4px;
  margin: auto;
  border-top: solid 0 #444;
  transition: all 200ms linear;
}

body[data-page="home"] #main-nav .menu-home-btn:before,
body[data-page="about"] #main-nav .menu-about-btn:before,
body[data-page="utils"] #main-nav .menu-utils-btn:before,
body[data-page="articles"] #main-nav .menu-articles-btn:before,
#main-nav li:hover:before {
  border-top-width: 8px;
}
body[data-page="home"] #main-nav .menu-home-btn a,
body[data-page="about"] #main-nav .menu-about-btn a,
body[data-page="utils"] #main-nav .menu-utils-btn a,
body[data-page="articles"] #main-nav .menu-articles-btn a,
#main-nav li:hover a {
  bottom: -6px;
}

/* shaddow behind the main nav, to see it better */
/* MEDIA QUERIES */
@media (max-width: 570px) {
  #main-header {
    text-align: center;
  }
}
@media (min-width: 570px) {
  #main-nav li {
    margin: 0;
  }
}
@media (min-width: 640px) {
  #main-header {
    font-size: 6rem;
    text-align: left;
  }

  body[data-page="home"] #background-video {
    display: block;
  }
}
@media (min-width: 1024px) {
  #main-header {
    font-size: 8rem;
    text-align: left;
  }
}
#about-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.about-full-content {
  background: white;
  position: relative;
  top: 6000px;
  transition: top linear .5s .1s;
  z-index: 1;
}

body[data-page="about"] #about-container {
  overflow: auto;
}
body[data-page="about"] .about-full-content {
  top: 0;
}

body[data-page="about"] #about-container {
  z-index: 7;
}

#about-container .decorator {
  min-height: 160px;
  background: #59636c;
  width: 100%;
  height: auto;
  position: relative;
  top: -600px;
  transition: top linear .5s;
  z-index: 2;
}

body[data-page="about"] #about-container .decorator {
  top: 0;
}

#about-container .decorator a {
  color: white;
}

#about-container .col-1 {
  margin-top: 0px;
  text-align: center;
  position: relative;
  left: -2000px;
  transition: left linear .5s;
}

body[data-page="about"] #about-container .col-1 {
  left: 0;
}

#about-container .decorator .col-2 {
  float: right;
  position: relative;
  height: 100%;
  min-height: 160px;
  color: white;
  font-weight: normal;
  padding: 1rem;
  line-height: 1.6rem;
  font-size: .9rem;
}

#about-container .about-content {
  margin-top: -120px;
}

.author-name {
  color: white;
  font-style: italic;
}

.picture-square {
  padding: 10px;
  background: white;
  border: solid 1px #999;
  box-shadow: 0 0 4px #999;
  text-align: center;
  width: 220px;
  margin: 15px auto;
  clear: both;
  display: block;
  font-size: .8rem;
  position: relative;
  z-index: 2;
}

.picture-content {
  transform: rotate(-5deg);
}

.picture-square:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  border: solid 1px #999;
  box-shadow: 0 0 4px #999;
  transform: rotate(-5deg);
  z-index: -1;
}

.picture-square img {
  width: 100%;
}

.about-content ol {
  list-style: none;
  clear: both;
  /*    padding: .5rem 1rem;*/
  text-align: left;
}

.about-content ol a {
  color: #444;
  text-decoration: none;
  line-height: 1.6rem;
}

.about-full-content .col-2 {
  float: right;
  padding: 1rem;
  padding-bottom: 100px;
  position: relative;
}

#about-container h2 {
  margin-bottom: 1rem;
}

.contacts-label {
  font-weight: bold;
  color: #999;
  border-bottom: solid 2px #999;
  text-align: left;
  font-size: 1.5rem;
  visibility: hidden;
}

@media (max-width: 570px) {
  .picture-square {
    width: 120px;
  }

  #about-container .about-content {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  #about-container .wrapper {
    width: 100%;
  }
  #about-container .decorator {
    padding-top: 180px;
  }

  #about-container .col-2 {
    width: 100%;
  }

  .about-content .col-1 {
    width: 100%;
  }

  .picture-square {
    float: left;
    margin: 1rem;
  }

  .about-content ol {
    clear: none;
    color: white;
    margin: 0;
  }
  .about-content ol a {
    color: white;
  }
}
@media (min-width: 570px) {
  .picture-square {
    width: 180px;
  }

  .contacts-label {
    visibility: visible;
  }
}
@media (max-width: 570px) {
  #about-container .decorator .col-2 {
    margin-top: -145px;
    padding-left: 240px;
  }
}
@media (max-width: 400px) {
  #about-container .decorator .col-2 {
    margin-top: 1rem;
    padding-left: 1rem;
  }

  .about-content ol {
    margin: auto;
    width: 100px;
    padding-left: 80px;
  }
}
body[data-page="utils"] {
  overflow: hidden;
}
body[data-page="utils"] #utils-container {
  z-index: 7;
  opacity: 1;
}
body[data-page="utils"] #utils-container .decorator {
  left: 0;
  top: 0;
}

[data-page="utils"] #utils-container {
  overflow: auto;
}

[hash-bang-detail="talks"] #utils-container .talks section,
[hash-bang-detail="videos"] #utils-container .videos section,
[hash-bang-detail="tools"] #utils-container .tools section,
[hash-bang-detail="articles"] #utils-container .articles section,
[hash-bang-detail="albums"] #utils-container .albums section {
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

#utils-container {
  background-color: rgba(240, 207, 180, 0.4);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all linear .2s;
}
#utils-container .decorator {
  position: fixed;
  left: -44px;
  top: 0;
  background-color: #427FED;
  padding-top: 30px;
  text-align: center;
  border: solid 1px black;
  border-width: 0 1px 0 0;
  transition: all linear .2s;
  width: 44px;
  height: 100%;
}
#utils-container .decorator .icon {
  text-indent: -99999px;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  outline: none;
  margin: 5px;
  box-shadow: 0 0 0px 2px #fff;
  background-image: url(../images/icons.png);
  transition: box-shadow linear .2s;
}
#utils-container .decorator .icon.talks {
  background-position: -96px 2px;
}
#utils-container .decorator .icon.videos {
  background-position: 0 2px;
}
#utils-container .decorator .icon.tools {
  background-position: -256px 2px;
}
#utils-container .decorator .icon.articles {
  background-position: -32px 2px;
}
#utils-container .decorator .icon.albums {
  background-position: -65px 2px;
}
#utils-container .decorator .icon:hover {
  background-position-y: -30px;
  box-shadow: 0 0 0px 4px #fff;
}
#utils-container .decorator .icon:hover .tooltip {
  position: absolute;
  left: 54px;
  opacity: 1;
}
#utils-container .decorator .icon .tooltip {
  position: relative;
  color: #000;
  left: 45px;
  top: 0;
  text-indent: 0;
  background-color: #ffff9c;
  border: solid 1px #000;
  border-left: none;
  white-space: nowrap;
  padding: 7px;
  height: 30px;
  font-size: .8rem;
  opacity: 0;
  transition: all linear .2s .3s;
}
#utils-container .decorator .icon .tooltip:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -11px;
  width: 21px;
  height: 21px;
  background-color: #ffff9c;
  border: solid 1px #000;
  border-right: none;
  border-bottom: none;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#utils-container .utils-content {
  padding: 0 0 0 44px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#utils-container .utils-content section {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  background: #fff;
  transition: all linear .2s;
}
#utils-container .utils-content section:nth-child(n+1) {
  transition-delay: .05s;
}
#utils-container .utils-content section:nth-child(n+2) {
  transition-delay: .2s;
}
#utils-container .utils-content section:nth-child(n+3) {
  transition-delay: .1s;
}
#utils-container .utils-content section:nth-child(n+4) {
  transition-delay: .15s;
}
#utils-container .utils-content section:last-child {
  padding-bottom: 140px;
}

@media (max-width: 570px) {
  #utils-container .decorator {
    height: 44px;
    width: 100%;
    left: 0;
    top: -44px;
    border-width: 0 0 1px 0;
    padding-top: 0;
  }
  #utils-container .decorator .icon:hover .tooltip {
    top: 50px;
  }
  #utils-container .decorator .icon .tooltip {
    top: 40px;
    left: -90px !important;
    width: 200px;
    white-space: normal;
    height: auto;
    border-left: solid 1px #000;
  }
  #utils-container .decorator .icon .tooltip:before {
    top: -7px;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: -3px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(45deg);
  }
  #utils-container .utils-content {
    padding: 40px 0 0 0;
  }
}
#playerLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  display: none;
}
#playerLayer .closeLayerBtn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  color: white;
  border-bottom: solid 2px white;
  margin: 4px;
  font-weight: bold;
  cursor: pointer;
}
#playerLayer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#playerElement {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: solid 1px #444;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

[data-full-layer="player"] #playerLayer {
  display: block;
}
[data-full-layer="player"] .glassEffect {
  display: none;
}

html, body {
  height: 100% !important;
}

body {
  min-height: 100% !important;
}

.youtube-thumb {
  position: relative;
  width: 320px;
  height: 180px;
  cursor: pointer;
}
.youtube-thumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  background-image: url(../images/youtube-buttons-sprite.png);
  width: 40px;
  height: 30px;
}
.youtube-thumb:hover:after {
  background-position: 0 -30px;
}

.video-item {
  padding: 1rem;
  width: 100%;
  display: inline-block;
}
.video-item h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #427FED;
}
.video-item .youtube-thumb {
  float: left;
  margin: 1rem 1rem 0 0;
}
.video-item .video-description {
  padding-top: 1rem;
  display: block;
  max-width: 800px;
}
.video-item .video-link {
  margin-top: 2rem;
  display: block;
}

/*# sourceMappingURL=main.css.map */
